# Dependencies
node_modules/
.npm
.yarn
yarn-debug.log*
yarn-error.log*
package-lock.json

# Testing
/test-results/
/playwright-report/
/playwright/.cache/
/reports/
/coverage/

# Development
.env
.env.local
.env.*.local

# TypeScript
*.tsbuildinfo
.tscache
dist/

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo
.DS_Store
*.log
logs/

# Temporary files
*.tmp
*.temp
.history/